/* headlines from components */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem 0;
}

.header .container h1 {
  font-size: 4rem;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 0 0 0rem 0;
  padding-bottom: 0;
/*   border: 2px solid red;
 */}

.head h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.head p {
  margin: 0rem 0;
  padding-bottom: 0.5rem;;
}




.toggle-btn {
  border: 1px solid blue;
  border-radius: 5px;
  background-color: aliceblue;
  color:blue
}

.toggle-btn:active {
  transition: transform 0.2s ease-in-out;
}

.toggle-btn:hover {
  cursor: pointer;
}

.checkbox {
  position: relative;
  display: block;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0rem 0;
  background-color: aliceblue;
/*   border: 2px solid yellow;
 */}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.content p {
  text-align: left;
  width: 100%;
  margin-left: 1rem
}

.footer  {
  font-size: 0.75rem;
  padding: 4rem 0;
  margin-bottom: 2rem;
}

