/* headlines from components */

.head {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 0 0 0rem 0;
  border: 2px solid red;
}

.plus:active {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
}

.plus:hover {
  cursor: pointer;
}

.checkbox {
  position: relative;
  display: block;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0rem 0;
  border: 2px solid yellow;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.content p {
  text-align: left;
  width: 100%;
  margin-left: 1rem
}



