:root {
  --background-color: #F8F9FA;
  --text-color: #212529;
  --pri-font: "Poppins", sans-serif;
  --sec-font: "Inter", sans-serif;

}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding:0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--pri-font);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  margin-top: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}